@import "tailwindcss";  
html,body{
    margin:0;
    overflow-x:hidden;
    font-family:Inter,Arial,sans-serif;
}
body{
    background:transparent !important;
}
#bg{
    position:fixed;
    inset:0;
    z-index:-1;
}
#formBackground{
    background: transparent !important;
    backdrop-filter:blur(5px);
}
.input:focus{
    box-shadow:0 0 10px #2563eb;
}